apiVersion: v1
kind: Service
metadata:
  name: {{ include "mcp-demo.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "mcp-demo.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
  selector:
    {{- include "mcp-demo.selectorLabels" . | nindent 4 }}
